[Unit]
Description=Claymore XMR AMD GPU Miner
After=network-online.target

[Service]
Environment='OPTS=-dbg -1'
ExecStart=/opt/clayminer-xmr/nsgpucnminer $OPTS
