Source: clayminer-xmr
Section: misc
Priority: optional
Maintainer: Baltnet Communications <info@baltnet.ee>
Build-Depends: debhelper (>=10)
Standards-Version: 3.9.6
Homepage: https://github.com/nanopool/Claymore-XMR-Miner
Vcs-Git: git@github.com:baltnet-communications/clayminer-xmr.git
Vcs-Browser: https://github.com/baltnet-communications/clayminer-xmr

Package: clayminer-xmr
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl1.0.0
Conflicts: cryptominer-daemon
Replaces: cryptominer-daemon
Provides: cryptominer-daemon
Description: Claymore's XMR AMD GPU Miner
